<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!-- MyBatis 전역 설정 -->
    <settings>
        <!-- 데이터베이스 컬럼명과 Java 필드명 매핑을 자동으로 처리 (언더스코어 → 카멜 표기법) -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 쿼리 실행 시 콘솔에 로그 출력 -->
        <setting name="logImpl" value="org.apache.ibatis.logging.stdout.StdOutImpl"/>
    </settings>

    <!-- Type Aliases 설정 -->
    <typeAliases>
        <package name="kroryi.spring.mapper"/>
        <package name="kroryi.spring.dto"/>
<!--        <typeAlias type="kroryi.spring.dto.Member" alias="Member" />-->
    </typeAliases>

    <!-- Mapper XML 파일 등록 -->
<!--    <mappers>-->
<!--        <mapper resource="classpath:mappers/MemberList.xml"/>-->
<!--    </mappers>-->
</configuration>
